<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>

    html, body {
      height: 100%;
    }

    div[id="select_textblob"]:hover,
    div[id="select_vader"]:hover,
    div[id="select_nltk"]:hover {
        cursor: pointer;
        background-color: #B1D270;
    }
    </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

    <title>Sentiment Analyser</title>
  </head>
  <body class="bg-dark">

    <div class="container fixed-top rounded border-bottom border-secondary bg-dark text-right">
      <div class="h2 mt-2" style="color: #f2e7d0">Sentiment Analyser <i class="fas fa-theater-masks"></i></div>
      <div class="h3 mb-1 text-secondary">with <i class="fab fa-python"></i></div>
    </div>

    <div class="container text-dark my-5">empty</div>

    <!-- Here goes the form, which could be better implemented -->
    <div class="container">
      {% include 'form.html' %}
    </div>

    <!-- If the method has been chosen, here are the results -->
    {% if method %}
      {% include 'results.html' %}
    {% endif %}

    <!-- If any errors, include here-->
    {% if error %}
      <h3 class="mt-2 mb-3 text-center text-danger">{{ error }}</h3>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then FontAwesome-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script>
      $(document).ready(function () {
          $('.selectpicker').selectpicker();
          $('div[id="select_textblob"]').click(function (e)
          {
              var radio = $(this).find('input[name="onemethod"][value="textblob"]');
              radio.prop("checked") == true ? radio.prop("checked", false) : radio.prop("checked", true)
          });
          $('div[id="select_vader"]').click(function (e)
          {
              var radio = $(this).find('input[name="onemethod"][value="vader"]');
              radio.prop("checked") == true ? radio.prop("checked", false) : radio.prop("checked", true)
          });
          $('div[id="select_nltk"]').click(function (e)
          {
              var radio = $(this).find('input[name="onemethod"][value="nltk"]');
              radio.prop("checked") == true ? radio.prop("checked", false) : radio.prop("checked", true)
          });
          $('input[name="preprocess"]').click(function (e)
          {
               e.stopPropagation();
                   return true;
          });
      });
    </script>
  </body>
</html>